<h3><i class="fas fa-users"></i> EasyQueue</h3>
<div class="section">
    <p class="lead">Start your own custom queue</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn orange">
        <i class="fab fa-google left"></i> Sign In With Google
    </a>
</div>